

*{
    margin: 0;
}


*{
    background-color: #C1EBD6;
}

#HelloRhaniel{
    background-color: black;
    height: 200px;
    color: white;
    
}

.name {

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-image: linear-gradient(to right, #50BEAE 30%, #E2CA12 60%);
    width: 40%;
    background-clip: text;
    color: transparent;
    font-size: 50px;
 
 }
 
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .Home_Contato a {
    font-size: 200%;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
 }
 
  /* ARRUMAR OS GAMEPAD DEPOIS 

/* .linha {
    
    width: 80%;
    position: absolute;
    justify-content: start;
 }
 

 
 .gamepad {
    position: absolute;
   left: 70%;
 }*/
 
 