
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 90vh;
    background-color: #C1EBD6;
}



header{
    margin-top: 2%;
    display: flex;
    align-items: center;
    
   
}
#rhaniel{
    text-transform: uppercase;
    background: linear-gradient(to right, #50BEAE 30%, #E2CA12 60%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 3em;
   margin: 1% 15% 0 2% ;
}

.Home_Contato{
    margin-top: 2%;
    margin-right: 5%;

}

.Home_Contato a {
    font-size: 200%;
    text-decoration: none;
    margin: 20px;
    color: black;
    font-weight: bold;
}

#text{
    display: flex;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
    max-width: 70%;
    font-size: 2em ;
    margin: 5% 0 0 2% ;
    line-height: 1.2em;
    position: relative;
    letter-spacing: 1px;
}

header svg{
    position: absolute;
   right: 5%;
   top: 5%;
}

#scroll{
    top: 40%;
}

@media (max-width: 850px) {

    header rect{
       display: none;
    }

    #scroll{
        top: 25%;
    }

    .Home_Contato{
        display: flex;
    }

    .Home_Contato a{
        z-index: 99;
    }

    @media (max-width: 480px) {

        .Home_Contato{
            display: flex;
            flex-direction: column;
            
        }
    }

}